.about {
    margin-top: 5rem;
    font-family: "Ubuntu Condensed", sans-serif;
    display: flex;
    justify-content: space-evenly;
    .web-image {
        height: 25rem;
        img {
            height: 100%;
        }
    }
    .details {
        .name {
            font-size: 40px;
            font-weight: 900;
            letter-spacing: 2;
        }
        .title {
            margin-top: 1rem;
            font-size: 32px;
            font-weight: 700;
        }
        .desc {
            font-size: 24px;
            width: 50rem;
            margin: 2rem auto;
        }
    }
}
