.hero {
    font-family: "Ubuntu Condensed", sans-serif;
    .name {
        font-size: 40px;
        letter-spacing: 2;
        font-weight: 700;
    }
    .desc {
        margin-top: 1.5rem;
        font-size: 30px;
        letter-spacing: 1.5;
    }
    .avatar-image {
        margin-top: 5rem;
        height: 16rem;
        pointer-events: none;
    }
}
