* {
    font-family: "Ubuntu Condensed", sans-serif;
    .title {
        font-size: 30px;
        font-weight: 700;
    }
    .avatar-image {
        margin-top: 5rem;
        height: 16rem;
    }
}
