.footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    font-family: "Ubuntu Condensed", sans-serif;
    color: #ededed;
    height: 10rem;
    background-color: #344556;
    .socials {
        margin: 1.4rem;
        .social-icons {
            font-size: 20px;
            margin: 1rem;
        }
    }
}
